<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SellTickets</servlet-name>
        <servlet-class>SellTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tickets</servlet-name>
        <servlet-class>Tickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SellTickets</servlet-name>
        <url-pattern>/SellTickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tickets</servlet-name>
        <url-pattern>/Tickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>User</display-name>
        <web-resource-collection>
            <web-resource-name>User</web-resource-name>
            <description/>
            <url-pattern>/User/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>SellTickets</web-resource-name>
            <description/>
            <url-pattern>/SellTickets</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Login</web-resource-name>
            <description/>
            <url-pattern>/Login</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Tickets</web-resource-name>
            <description/>
            <url-pattern>/Tickets</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>User</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description/>
            <url-pattern>/Tickets</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/Admin</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
    </login-config>
    <security-role>
        <description>Can do everything</description>
        <role-name>User</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>AuthUser</role-name>
    </security-role>
</web-app>
